/* # ROOT */

@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-VariableFont_wght.ttf");
}

:root {
  /* ~ COLORS */
  --green_70: #cbea7b;
  --green_85: #e5f5bd;
  --green: #dcf1a7;
  --darkgreen_15: #1a3129;
  --white: #ffff;
  --grey_30: #4c4c4d;
  --green_95: #f6fbe9;
  --darkgreen_20: #234338;
  --darkgreen_30: #356554;
  --grey_15: #262626;
  --grey_60: #98989a;
  --darkgreen: #2c5446;
  --lightgrey: #cdcdcd;
  --darkgrey: #333333;
  --light-lime-green: #d7ef9a;
  --light-grey: #d9d9d9;
  --pastel-lime: #eef8d3;
  --off-white: #f2f2f2;

  /* ~ FONT */
  --primary-font-family: "Urbanist";
  --primary-font-size: 16px;

  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}

/* # DEBUGGING */
body {
  height: 500vh;
}

/* # GENERAL STYLINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:active {
  opacity: 0.9;
}

/* # HEADER */

/* ~ BANNER */

header {
  padding: 0.9rem 10.1rem;
  height: 10.4rem;
  width: 100vw;
  background-color: var(--darkgreen_15);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--pastel-lime);
}

header .banner {
  height: 3rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--darkgreen_20);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--darkgreen);
  border-radius: 6px;
}

header .banner .banner-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header .banner .banner-description p {
  display: flex;
  gap: 0.25rem;
}

header .banner .banner-description p span {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  height: 100%;
}

header .banner #banner-link {
  height: 1.5rem;
  width: 1.5rem;
  background: url("../public/assets/icons/icon-arrow-right.svg") center/cover no-repeat;
}

/* ~ NAVBAR */

header .navbar {
  height: 3.8rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

header .navbar .navbar-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

header .navbar .navbar-container nav a {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--white);
}

header .navbar .navbar-container a button {
  /* width: 8.5rem;
  height: 3.4rem; */
  padding: 0.9rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--grey_15);
  background-color: var(--green_70);
  border: none;
  border-radius: 0.5rem;
}
