/* # ROOT */

@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-VariableFont_wght.ttf");
}

:root {
  /* ~ COLORS */
  --green_70: #cbea7b;
  --green_85: #e5f5bd;
  --green: #dcf1a7;
  --darkgreen_15: #1a3129;
  --white: #ffff;
  --grey_30: #4c4c4d;
  --green_95: #f6fbe9;
  --darkgreen_20: #234338;
  --darkgreen_30: #356554;
  --grey_15: #262626;
  --grey_60: #98989a;
  --darkgreen: #2c5446;
  --lightgrey: #cdcdcd;
  --darkgrey: #333333;
  --light-lime-green: #d7ef9a;
  --light-grey: #d9d9d9;
  --pastel-lime: #eef8d3;
  --pastel-light-lime: #fafdf2;
  --off-white: #f2f2f2;

  /* ~ FONT */
  --primary-font-family: "Urbanist";
  --primary-font-size: 16px;

  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}

/* # DEBUGGING */

/* # GENERAL STYLINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pastel-light-lime);
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:active {
  opacity: 0.9;
}

/* # HEADER */

/* ~ BANNER */

header {
  padding: 0.9rem 10.1rem;
  height: 10.4rem;
  width: 100vw;
  background-color: var(--darkgreen_15);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--pastel-lime);
}

header .banner {
  height: 3rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--darkgreen_20);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--darkgreen);
  border-radius: 6px;
}

header .banner .banner-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header .banner .banner-description p {
  display: flex;
  gap: 0.25rem;
}

header .banner .banner-description p span {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  height: 100%;
}

header .banner #banner-link {
  height: 1.5rem;
  width: 1.5rem;
  background: url("../public/assets/icons/icon-arrow-right.svg") center/cover no-repeat;
}

/* ~ NAVBAR */

header .navbar {
  height: 3.8rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

header .navbar .navbar-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

header .navbar .navbar-container nav a {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--white);
}

header .navbar .navbar-container a button {
  /* width: 8.5rem;
  height: 3.4rem; */
  padding: 0.9rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--grey_15);
  background-color: var(--green_70);
  border: none;
  border-radius: 0.5rem;
}

/* # MAIN */

/* ~ HERO SECTION */

main .hero-section {
  display: flex;
  gap: 3.2rem;
  padding-right: 10.1rem;
}

/* + HERO IMG */

main .hero-section #hero-img {
  height: 826px;
  width: 945px;
  background: url("../assets/img/hero-bg.png");
  background-color: var(--green);
  /* object-fit: cover; */
  border-bottom-right-radius: 50px;
}

/* + HERO CONTAINER */

main .hero-section .hero-container {
  width: 759px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.4rem;
}

/* % HERO MAIN CONTAINER */

main .hero-section .hero-container .hero-main-container {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

main .hero-section .hero-container .hero-main-container .hero-main-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

main .hero-section .hero-container .hero-main-container .hero-main-text h3 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--green_70);
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--darkgreen_15);
  display: inline;
}

main .hero-section .hero-container .hero-main-container .hero-main-text h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 100%;
  color: var(--darkgreen_15);
}

main .hero-section .hero-container .hero-main-container .hero-main-text p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--grey_30);
}

main .hero-section .hero-container .hero-main-container .hero-main-buttons {
  display: flex;
  gap: 20px;
}

main .hero-section .hero-container .hero-main-container .hero-main-buttons button {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--darkgreen_15);
}

main .hero-section .hero-container .hero-main-container .hero-main-buttons button:first-of-type {
  background-color: var(--green_70);
  border: none;
}

main .hero-section .hero-container .hero-main-container .hero-main-buttons button:last-of-type {
  background-color: var(--green_95);
  border: 1px solid var(--green_70);
}

/* % HERO FOOTER CONTAINER */

main .hero-section .hero-container .hero-footer-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

main .hero-section .hero-container .hero-footer-container .customer-images-container {
  width: 130px;
  height: 66px;
  padding: 0.5rem 0.6rem;
  border: 1px solid var(--green_70);
  border-radius: 3.6rem;
  display: flex;
}

main .hero-section .hero-container .hero-footer-container .customer-images-container #customer-image {
  height: 50px;
  width: 50px;
  background: url("../assets/img/picture-customer-1.png") center/cover no-repeat;
  border-radius: 50%;
  position: relative;
  top: 50%;
  /* left: 50%; */
  transform: translateY(-50%);
}

main .hero-section .hero-container .hero-footer-container .customer-images-container #customer-image::before {
  content: "";
  height: 50px;
  width: 50px;
  background: url("../assets/img/picture-customer-2.png") center/cover no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(60%, -50%);
}

main .hero-section .hero-container .hero-footer-container .customer-images-container #customer-image::after {
  content: "";
  height: 50px;
  width: 50px;
  background: url("../assets/img/picture-customer-3.png") center/cover no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(120%, -50%);
}

main .hero-section .hero-container .hero-footer-container p {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--darkgreen_15);
}

main .hero-section .hero-container .hero-footer-container p span {
  color: var(--darkgreen_30);
}

/* ~ FEATURES SECTION */

/* next section 150px below */

main .features-section {
  border: 1px solid purple;
  margin-top: 9.4rem;
  padding: 0 10.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

/* + FEATURES TEXT CONTAINER */

main .features-section .text-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0 18.75rem;
  text-align: center;
}

main .features-section .text-container h2 {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--darkgreen_15);
}

main .features-section .text-container p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--grey_30);
}

/* + CARDS CONTAINER */

main .features-section .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.9rem;
}

/* % CARD-WRAPPER */

main .features-section .cards-container .card-wrapper {
  padding: 2.5rem 3.1rem;
  border: 1px solid var(--green_85);
  border-radius: 0.75rem;
  background-color: var(--green_95);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .features-section .cards-container .card-wrapper .card-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

main .features-section .cards-container .card-wrapper .card-title-wrapper img {
  padding: 0.9rem;
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 0.5rem;
  background-color: var(--green_70);
}

main .features-section .cards-container .card-wrapper .card-title-wrapper h3 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--darkgreen_15);
}

main .features-section .cards-container .card-wrapper p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--grey_30);
}

/* next section 191px below */
